.Content {
	margin-top: 30px;
	p {
		color: #441111;
	}  
}
	#post-3 {
		h2{
			display: none;	
		}
}
	

.contentBackground {
  background-color: #9c1d3b;
  background-image: url("../img/backgroundline.png");
}

.backgroundcoverhead { 
  background-color: #9c1d3b;
	height:	35px;
	margin-top: -30px;
	margin-bottom: 20px;
}
 
.whiteBackground {
	background: #ffffff;
	width: 100%;
	height: 570px;
	margin-top: -250px;
	margin-bottom: -34px;
}

.welcomeTekst {
	h2 {
		color: white;
		text-align: center;
		font-size: 28px;
		font-weight: normal;
		margin-top: 33px;
		margin-bottom: 33px;
	}
}

.bx-viewport {
	border-radius: 20px;
}

.bx-wrapper {
	border: solid 3px white;
	border-radius: 20px;
}

.columnBeads{
	margin-top: 250px;
	text-align: center
}

.columnBeadsAdministratie {
	margin-top: 25px;

}
.columnBeadsBelasting {
	margin-top: 25px;
}
.columnBeadsAdvies {
	margin-top: 25px;
}

//////// Wie zijn wij ///////

.buitenfotos {
	img {
		margin-top: 15px;
		margin-bottom: 15px;
		margin-right: 15px;
		border: 3px solid #441111;
	}
}

//////// Links ////////
.links-list {
	padding-bottom: 15px;
	ul {
		text-align: right;
		border: 3px solid #441111;

		padding-top: 25px;
		padding-bottom: 30px;
		margin-top: 1px;
	}
	li{
		color: #441111;
		border: 3px;

		padding-right: 15px;

	}
}

.links-foto {
	margin-bottom: 20px;
	img {
		border: 3px solid #441111;
	}
}

//////// Medewerkers ////////
@mixin bp($point) {
  @if () {
    $bp-chicago: "(min-width: 600px)";
    $bp-la: "(min-width: 960px)";
    
    @if $point == la {
      @media #{$bp-la} { @content; }
    }
    @else if $point == chicago {
      @media #{$bp-chicago} { @content; }
    }
  }
  @else {
    @content;
  }
}

@mixin transition($speed: 0.55s, $delay: 0s) {
  -webkit-transition: $speed $delay;
  -moz-transition: $speed $delay;
  -ms-transition: $speed $delay;
  transition: $speed $delay;
}

// clearfix 

@mixin clearfix {
	clear: both;
	content: "";
	display: table;
}

// variables

$red: #441111;

* {
  box-sizing: border-box;
}

 img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
 }

body {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/5462/cream_pixels.png) repeat;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #441111;
}

.container {
	height: auto;
  margin: 0 auto;
	width: 100%;
  @include bp(chicago) {
    max-width: 680px;
  }
	@include bp(la) {
		width: 100%;
	}

	&::after {
		@include clearfix;
	}
	h1{
		font-size: 25px;
		margin-left: 45px; 
	}
}

.keynote {
	border: 10px solid #333;
	width: 408px;
	overflow: hidden;
    position: relative;
    @include bp(chicago) {
      border-color: white;
    }

    &:hover {
    	@include bp(chicago) {
            @include transition;

	    	img {

	    		-webkit-filter: blur(3px);
	    		-moz-filter: blur(3px);
	    		-ms-filter: blur(3px);
	    		filter: blur(3px);
	    		@include transition;
	    	}
	    }
    }
}

.keynote-desc {
  background: #333;
	height: 100%;
	opacity: 1;
	padding: 5px 20px 30px;
	position: static;
	top: auto; right: auto; bottom: 0; left: 0;
	width: 100%;
	@include transition;
	@include bp(chicago) {
		background: rgba(0,0,0,0.6);
		height: 30%;
		opacity: 1;
		padding: 0 40px;
		position: absolute;
	}
}

.keynote:hover .keynote-desc {
	background: #333;
	height: 100%;
	opacity: 1;
	padding: 5px 20px 30px;
	position: static;
	top: auto; right: auto; bottom: 0; left: 0;
	width: 100%;
	@include transition;
	@include bp(chicago) {
		background: rgba(0,0,0,0.6);
		padding: 20px 40px;
		position: absolute;
	}
}

.keynote:hover .keynote-bio {
	@include bp(chicago) {
		opacity: 1;
		margin-top: 0;
		@include transition(0.55s, 0.35s);
	}
}

.keynote:hover .more {
  @include bp(chicago) {
    margin: 25px auto;
    @include transition(0.55s, 0.35s);
  }
}

.keynote:hover .keynote-name {
  &::after {
    border: 1px solid #ccc;
    content: "";
    bottom: 7px; left: 50%;
    margin-left: -100px;
    position: absolute;
    width: 200px;
    @include transition(0.35s, 0.75s);
  }
}

.keynote-name {
	color: white;
	font-size: 1.5em;
  font-weight: 300;
	padding: 0 15px;
  position: relative;
	text-align: center;
	@include bp(chicago) {
		font-size: 2em;
	}
  
  &::after {
      border-bottom: 1px solid #666;
      content: "";
      bottom: -13px; left: 50%;
      margin-left: -100px;
      position: absolute;
      width: 200px;
      @include bp(chicago) {
         border-bottom: 1px solid #ccc;
         margin: 0;
         width: 0;
         @include transition(0.35s, 0s);
      }
   }
}

.keynote-bio {
	color: white;
	display: block;
	font-size: 1em;
  font-weight: 300;
	position: relative;
	text-align: center;
	@include transition(0.55s);
	@include bp(chicago) {
		margin-top: 70px;
		opacity: 0;
	}
}

.more {
  background: $red;
  border-radius: 3px;
  color: white;
  display: block;
  margin: 25px auto;
  padding: 10px;
  text-decoration: none;
  max-width: 190px;
  @include bp(chicago) {
    margin: 80px auto;
    @include transition(0.55s, 0s);
  }
}

.jaarstukken{
	h2{
		font-size: 25px;
	}
}

/////// Nieuwsbrieven

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.dropdown {
  margin: 0px auto;
  position: relative;
  width: calc(100% - 40px);
  max-width: 400px;
}

.dropdown label {
  display: block;
  padding: 8px 16px;
  background: #441111;
  color: #FAFAFA;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.dropdown ul {
  list-style: none;
  position: absolute;
  width: 100%;
}

.dropdown ul li {
  padding: 0px 16px;
  background: #DDD;
  color: #343838;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  height: 0px;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.1s linear 0s;
}

.dropdown ul li:hover,
.dropdown ul li.selected {
  background: #00B4CC;
  color: #FAFAFA;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown:hover ul li {
  padding: 8px 16px;
  height: 34px;
}

////// Nieuws ///////

.nieuwsbrieven{
	h1 {
		padding-left: 150px;
	}
	h2 {
		padding-left: 100px;
		padding-bottom: 15px;
	}
	p {
		padding-left: 25px;
		padding-bottom: 25px;
	}
	li {
		padding-left: 125px;
	}
	ul {
		margin-top: -20px;
		margin-bottom: 25px;
	}
	a {
		color: #441111;
		font-weight: bold;
	}
}


@media all and (max-width: 1137px) {
	.logogroot {
		display: none;
	}
}
@media all and (max-width: 800px) {  
  .columnBeads{
    display: none;
  }
  .whiteBackground {
  	display: none;
  }
  .contentBackground {
  	height: 431px;
  }
  .footer {
  	margin-top: 140px;
  }
  .bx-wrapper {
  	display: none;
  }
  .contentBackground{
  	height: 150px;
  	margin-bottom: 350px;
  }
  	#post-3 {
  		margin-top: 45px;
  	}
  }

@media all and (max-width: 400px) {
	.contentBackground{
  		margin-bottom: 450px;
  		height: 175px;
  }
  #post-3 {
  		margin-top: 0px;
  	}
}

@media all and (max-width: 275px) {
	.contentBackground{
  		margin-bottom: 550px;
  		height: 175px;
  }
}
.accordion {
  padding: 0;
  margin: 2em 0;
  width: 100%;
  overflow: hidden;
  font-size: 1em;
  position: relative;
}

.accordion__title {
  padding: 0 1em;
  background: #ccc;
  border-top: 2px solid #eee;
  color: #222;
  float: left;
  line-height: 3;
  height: 3em;
  cursor: pointer;
  margin-right: .25em;
}

.no-js .accordion__title { 
  float: none;
  height:auto;
  cursor:auto;
  margin:0;
  padding:0 2em;
}

.accordion__content {
  float: right;
  width: 100%;
  margin: 3em 0 0 -100%;
  padding: 2em;
  background: silver;
}

.no-js .accordion__content {
  float:left;
  margin:0;
}

.accordion__title:hover,
.accordion__title.active {
  background: silver;
  color: white;
}

.no-js .accordion__title:hover {
  background-color:#ccc;
  color:#222;
}

.accordion__title.active {
  border-top-color:lime;
}

@media (max-width: 2000px) {
  
  .accordion {
    border: 1px solid grey;
  }
  
  .accordion__title,
  .accordion__content { 
    float: none;
    margin: 0;
  }
  
  .accordion__title:first-child {
    border:none;
  }
  
 .accordion__title.active {
  border-top-color:#eee;
  }
  
  .accordion__title.active, .accordion__title:hover {
    background:#777;
  }
  
  .accordion__title:before {
  content:"+";
  text-align:center;
  width:2em;
  display:inline-block;
  }
 .accordion__title.active:before {
  content:"-";
  }
  
 .overflow-scrolling {
  overflow-y: scroll;
  height:11em;
  padding:1em 1em 0 1em;
  /* Warning: momemtum scrolling seems buggy on iOS 7  */
  -webkit-overflow-scrolling: touch;
  }

  .accordion__content {
    position:relative;
    overflow:hidden;
    padding:0;
  }
  
   .no-js .accordion__content {
    padding:1em;
    overflow:auto;
    display:block;
  }
  
  .accordion__content:after {
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    height:50px;
    border-radius:10px 0 0 10px / 50% 0 0 50%;
    box-shadow:-5px 0 10px rgba(0, 0, 0, 0.5);
    content:'';
}
   
}
