// CSS that work on dropdown  of submenu items

.Navigation-listItem--hasDropdown {
    position: relative;
    text-decoration: none;
}

ul.Navigation-list--dropdown {
    display: block;
    height: auto;
    position: absolute;
    line-height: 45px;
    z-index: 9999;
    margin-top: 15px;
    background-color: #9c1d3b;
    right: -112px;
    padding-left: 8px;
    padding-right: 70px;
    padding-top: 5px;
}

ul.Navigation-list--dropdown li.Navigation-listItem {
    display: block;
    padding: 0px 2px;
    margin: 0px auto;
    border: 0px none;
}

.Navigation-list.is-hidden {
	display: none;
}
