.Footer {
  	background-color: #cc0a2f;
  	background-image: url("../img/backgroundline.png");
	width: 100%;

	margin-top: 35px;
}

// RESPONSIVE FOOTER
.Footer-inner .widget {
	@include span-columns(4);
	@media screen and(max-width: 980px){
		@include span-columns(12);
	}
}

.Socket {
	margin-right: 16%;
	font-weight: bold;
	float: right;
		a {
			color: #025492;
		}
}

#kleurgeel {
	color: #f48022;
}

.Footer-inner {
}

//style the widgets
.Footer-inner .widget {

}
.menu-0 {
	width: 160px;
}

.bezoekadres {
	h1 {
		font-size: 14px;
		color: white;
		font-weight: bold;
	
	}
	p {
		font-size: 11px;
		color: white;
	}
	hr {
		width: 165px;
	}
}

.Postadres {
	h1 {
		font-size: 14px;
		color: white;
		font-weight: bold;
	
	}
	p {
		font-size: 11px;
		color: white;
	}
	hr {
		width: 165px;
	}
}

.contactInformatie{
	h1 {
		font-size: 14px;
		color: white;
		font-weight: bold;

	}
	p {
		font-size: 11px;
		color: white;
	}
}
.contactPictogram {
	margin-top: 1px;
	margin-right: 5px;
}
.googleplay {
	margin-left: 245px;
	margin-top: -84px;
}

.footerklein {
	color: white;
	padding-top: 10px;
	font-weight: bold;
	text-align: center;
		a {
			color: white;
		}
}

.footersitemap {
	h1 {
		font-size: 14px;
		color: white;
		font-weight: bold;
	}
}

@media all and (max-width: 700px) {
	.footergroot {
		display: none;
	}
}

@media all and (min-width: 700px) {
	.footerklein {
		display: none;
	}
}
