// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
  background-image: url("../img/.jpg");
  background-size: cover;
}

.header-top {
  background-image: url("../img/headerfoto.jpg");
  height: 40px;
  a {
    border-right: 1px solid white;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    color: white;
     }
}

.headerLinks {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.menu-wrapper {
 background:white; 
 height:80px;
 position: relative;
}


.logo {
  margin-top: -35px;
}
// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Contact bar ----- //

.Header-contact {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.5);
}

// ----- Contact bar ----- //

.Header-logo {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.25);
}

// ----- Nav bar ----- //

.Header-nav {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: $c-blue;
}

// ----- Carousel ----- //

.Header-carousel {
  @extend .u-gridRow;
  padding-bottom : ($l-whiteSpace * 4);
  padding-top    : ($l-whiteSpace * 4);
}

.Slider {
	visibility: hidden;
}
