// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  @include clearfix;
  text-align: center;
  background-color: #570f0f;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;
  padding-right: 12px;
  border-radius: 30px;
  color: white;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-list {
	display: block;
	margin: 0px;
}

.navi-wrapper {
  background-color: white;
  height: 0px;
  width: 100%;
  margin-top: 14px;
}


.Navigation-link.is-active {
  text-decoration: underline;
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
  display: block;
  margin: 0 rem(15px);
  float: left;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
}
